{% extends 'blog/base.html' %} {% block content %}
<div class="post">
  {% if post.published_date %}
  <div class="date">
    <p>published: {{ post.published_date }} {% if user.is_authenticated %}
      <span style="float:right">
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
          <i class="fas fa-edit" title="Edit post"></i>
        </a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
          <!-- <span class="glyphicon glyphicon-remove"></span></a> -->
          <i class="fas fa-trash-alt" title="Delete post"></i>
        </a>
      </span>
      {% endif %}
    </p>
  </div>
  {% else %}
  <p>created: {{ post.created_date }} 
    {% if user.is_authenticated %}
    <span style="float:right">
      <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">
        <i class="fas fa-upload" title="Publish post"></i>
      </a>
      <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
        <i class="fas fa-edit" title="Edit post"></i>
      </a>
      <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
        <!-- <span class="glyphicon glyphicon-remove"></span></a> -->
        <i class="fas fa-trash-alt" title="Delete post"></i>
      </a>
    </span>
    {% endif %}
  </p>
  {% endif %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.text|linebreaksbr }}</p>
</div>
<hr>
<a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
  {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
      <div class="date">
        {{ comment.created_date }}
        {% if not comment.approved_comment %}
          <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
            <i class="far fa-thumbs-down"></i>
          </a>
        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
          <i class="far fa-thumbs-up"></i>
        </a>
        {% endif %}
      </div>
      <strong>{{ comment.author }}</strong>
      <p>{{ comment.text|linebreaks }}</p>
    </div>
  {% endif %}
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}

{% endblock %}