{% extends 'blog/base.html' %}
{% block content %} 
  {% for post in posts %}
  <div class="post">
    <div class="date">
      <p>created: {{ post.created_date|date:'d-m-Y' }}</p>
    </div>
    <h2>
      <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
    </h2>
    <p>{{ post.text|truncatechars:200 }}</p>
  </div>
  {% endfor %}
{% endblock %} 